{% load static %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Account – View</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/accountmanage_view.css' %}" />
  </head>
  <body>
    {% include 'core/header.html'%}

      <div class="btn-group">
        <a href="{% url 'edit_taikhoan' taikhoan.id_taikhoan %}" class="hrbtn">✏️ Chỉnh sửa</a>
        <a href="/accountmanage/" class="hrbtn danger">← Quay lại</a>
        <button class="hrbtn">
            <a href="{% url 'accountmanage_delete' taikhoan.id_taikhoan %}">Xóa nhân khẩu {{ nhan_khau.ho_ten }}</a>
        </button>
      </div>
    </section>
  </main>
          {% include 'core/sidebar_and_footer.html' %}

        <ul class="profile-list">
          <li><strong>ID tài khoản:</strong> {{ taikhoan.id_taikhoan }}</li>
          <li><strong>Tên đăng nhập:</strong> {{ taikhoan.username }}</li>
          <li><strong>Mật khẩu:</strong> ********</li>
          <li><strong>Vai trò:</strong> {{ taikhoan.vaitro.ten_vaitro }}</li>
        </ul>

        <div class="form-actions" style="margin-top: 16px">
          <a
            href="{% url 'edit_taikhoan' taikhoan.id_taikhoan %}"
            class="btn btn--yellow btn--compact"
            >✎ Chỉnh sửa</a
          >
          <a
            href="{% url 'accountmanage' %}"
            class="btn btn--secondary btn--compact"
            >← Quay lại</a
          >
        </div>
      </section>
    </main>

    {% include 'core/sidebar_and_footer.html' %}
  </body>
</html>
