{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>accountmanage'</title>

  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'css/accountmanage.css' %}">
</head>
<body>  
  {% include 'core/header.html'%}

  <div id="overlay" class="overlay" tabindex="-1" hidden></div>

  
  <div class="hrcontainer">
    <div class="hrsearch-bar">
      <input type="text" placeholder="Thanh tìm kiếm...">
      <button>Tìm kiếm</button>
    </div>

    <div class="hrmember-list">
      <h1>Danh sách Tài Khoản</h1>
    <table border="1" cellpadding="5" style="width: 80%; margin: 0 auto;">
          <tr>
              <th>ID tài khoản</th>
              <th>username</th>
              <th>pass</th>
              <th>Vai trò</th>
          </tr>
          {% for hk in tai_khoan_list %}
          <tr>
              <td>
                <a href="{% url 'view_taikhoan' hk.id_taikhoan %}">
                    {{ hk.id_taikhoan }}
                </a>
              </td>

              <td>{{ hk.username}}</td>
              <td>{{ hk.password }}</td>
              <td>{{ hk.vaitro}}</td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="3">Không có dữ liệu</td>
          </tr>
          {% endfor %}
      </table>   

    </div>

    <div class="hrbutton-bar">

      <button class="hrbtn">
        <a href="/accountmanage/addaccount">Thêm tài khoản</a>
      </button>

    </div>
  </div>
          {% include 'core/sidebar_and_footer.html' %}

  </body>
</html>
