{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>accountmanage'</title>

  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'css/accountmanage.css' %}">
</head>
<body>  
  {% include 'core/header.html'%}
  <p>đã xóa nhân khẩu</p>
  <a href="{% url 'demomanage' %}" class="hrbtn">← Quay lại danh sách</a>

  {% include 'core/sidebar_and_footer.html' %}

  </body>
</html>
