{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>demomanage</title>

  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
  <link rel="stylesheet" href="{% static 'css/demomanage.css' %}">
</head>
<body>  
        {% include 'core/header.html' %}

  

  <div id="overlay" class="overlay" tabindex="-1" hidden></div>

  <!-- <input type="text" placeholder="Thanh tìm kiếm..."> 
  <button>Tìm kiếm</button>  -->
  
  <div class="hrcontainer">
  <div class="search-bar">
    <form method="get" action="{% url 'demomanage' %}">
      <input type="text" name="search_id" placeholder="Nhập ID nhân khẩu..." value="{{ query }}">
          <button type="submit">Tìm kiếm</button>
          {% if query %}
              <a href="{% url 'demomanage' %}">Hiện tất cả</a>
          {% endif %}
      </form>
    </div>


      <main class="content">
      <div class="main-section">
        <h1 style="width: 80%; margin: 0 auto;">Danh sách Nhân khẩu</h1>
        <table border="1" cellpadding="5" style="width: 80%; margin: 0 auto;">
            <tr>
                <th>ID nhân khẩu</th>
                <th>ID hộ khẩu</th>
                <th>DOB</th>
                <th>CCCD</th>
                <th>Quan hệ với chủ hộ</th>
            </tr> 
            {% for hk in nhan_khau_list %}
            <tr>
                <td>
                  <a href="{% url 'nhan_khau_profile' hk.id_nhankhau %}">
                    {{ hk.id_nhankhau }}
                  </a>
                </td>                
                <td>{{ hk.ho_khau }}</td>
                <td>{{ hk.ngay_sinh }}</td>
                <td>{{ hk.cccd }}</td>
                <td>{{ hk.quan_he_chu_ho }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Không có dữ liệu</td>
            </tr>
            {% endfor %}
        </table>   

        <div class="hrbutton-bar">
          
          <button class="hrbtn">
            <a href="/demomanage/adddemo">Thêm nhân khẩu</a>
          </button>
          <button class="hrbtn">Sửa thông tin nhân khẩu</button>
          <button class="hrbtn">Xóa nhân khẩu</button>

        </div>
      </div>
      </main>
      {% include 'core/sidebar_and_footer.html' %}

  </body>
</html>
