{% load static %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập vào hệ thống</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    {% if messages %}
        {% for message in messages %}
            <div class="global-error-message {% if message.tags %}{{ message.tags }}{% endif %}">
                <i class='bx bxs-error-circle'></i>
                <span>{{ message }}</span>
            </div>
        {% endfor %}
    {% endif %}


    <div class="wrapper" id="loginCard">
      <div class="flip">
        <form class="panel panel--user" action="" method="post">
          {% csrf_token %}
          <h1>Người dùng</h1>
          <div class="input-box">
            <input type="text" placeholder="Tên đăng nhập" required name="username_user" />
            <i class="bx bxs-user"></i>
          </div>
          <div class="input-box">
            <input type="password" placeholder="Mật khẩu" required name="password_user" />
            <i class="bx bxs-lock-alt"></i>
          </div>

          <div class="remember-forgot">
            <label class="container">
              <input type="checkbox" />
              <svg viewBox="0 0 64 64" height="1.2em" width="1.2em">
                <path
                  d="M 0 16 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 16 L 32 48 L 64 16 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 16"
                  pathLength="575.0541381835938"
                  class="path"
                ></path>
              </svg>
              <span>Ghi nhớ tài khoản</span>
            </label>
            <a href="#">Quên mật khẩu</a>
          </div>

          <button type="submit" class="btn">Đăng nhập</button>

          <div class="switch-admin">
            <p><a href="#" id="toAdmin">Tôi là admin</a></p>
          </div>
        </form>

        <form class="panel panel--admin" action="" method="post">
          {% csrf_token %}
          <h1>Admin</h1>
          <div class="input-box">
            <input type="text" placeholder="Tên đăng nhập" required name="username_admin" />
            <i class="bx bxs-id-card"></i>
          </div>
          <div class="input-box">
            <input type="password" placeholder="Mật khẩu" required name="password_admin" />
            <i class="bx bxs-lock"></i>
          </div>

          <div class="remember-forgot" style="visibility: hidden"></div>

          <button type="submit" class="btn">Đăng nhập</button>

          <div class="switch-admin">
            <p><a href="#" id="toUser">Tôi là người dùng</a></p>
          </div>
        </form>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
          const card = document.getElementById("loginCard");
          
          const toAdminButton = document.getElementById("toAdmin");
          if (toAdminButton) {
              toAdminButton.addEventListener("click", (e) => {
                  e.preventDefault();
                  card.classList.add("show-admin");
              });
          }

          const toUserButton = document.getElementById("toUser");
          if (toUserButton) {
              toUserButton.addEventListener("click", (e) => {
                  e.preventDefault();
                  card.classList.remove("show-admin");
              });
          }
      });
    </script>
  </body>
</html>