{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hồ sơ cá nhân - BLUEMOON Hotel</title>
    <link rel="stylesheet" href="{% static 'css/style_profile.css' %}">
    
</head>
<body>
    <header>
        <h1>👤 Thông tin cá nhân</h1>
        <p>Trang quản lý thông tin người dùng trong hệ thống BLUEMOON</p>
    </header>

    <main class="profile-container">
        <section class="profile-card">
            <div class="avatar">
                <img src="{% static 'img/default-avatar.jpg' %}" alt="Ảnh đại diện" class="image">
            </div>

            <div class="info">
                <p><b>Username:</b> {{ user.username }}</p>
                <p><b>ID chức vụ:</b> {{ user.vaitro_id}}</p>
            </div>
        </section>

    
    </main>

    <footer>
        © 2025 BLUEMOON Hotel Management System
    </footer>
</body>
</html>
