{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hồ sơ cá nhân - BLUEMOON Hotel</title>
    <link rel="stylesheet" href="{% static 'css/style_profile.css' %}">\
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}? v=2">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
</head>
<body>
        {% include 'core/header.html'%}
    <main class="profile-container">
        <section class="profile-card">
            <div class="avatar">
                <img src="{% static 'img/default-avatar.jpg' %}" alt="Ảnh đại diện" class="image">
            </div>

            <div class="info">
                <p><b>Username:</b> {{ user.username }}</p>
                <p><b>ID chức vụ:</b> {{ user.vaitro_id}}</p>
            </div>
        </section>

        
    </main>
    
    {% include 'core/sidebar_and_footer.html' %}
    
</body>
</html>
