<aside class="sidebar" id="sidebar">
  {% load static %}
  <div class="sidebar-logo">
    <img
      class="sidebar-app-logo"
      src="{% static 'img/app_logo.png' %}"
      alt="BlueMoon logo"
    />
    <span>BlueMoon</span>
  </div>
  <nav>
    {# 1.Chưa đăng nhập#} {% if not user.is_authenticated %}
    <ul id="menu-not-logged-in">
      <li class="Login_btn">
        <a href="/login">
          <i class="fa-solid fa-right-to-bracket"></i>
          <span>Đăng nhập</span> </a
        >"
      </li>
    </ul>

    {# 2. Nếu là Admin(id_vaitro =1)#} {% elif user.vaitro.id_vaitro == 1 %}
    <ul id="menu-accountmanage">
      <li>
        <a href="/">
          <i class="fa-solid fa-house"></i>
          <span>Trang chủ</span>
        </a>
      </li>

      <li>
        <a href="/hrmanage">
          <i class="fa-solid fa-people-roof"></i>
          <span>Quản lý hộ khẩu</span>
        </a>
      </li>

      <li>
        <a href="/demomanage">
          <i class="fa-solid fa-user-group"></i>
          <span>Quản lý nhân khẩu</span>
        </a>
      </li>

      <li>
        <a href="/accountmanage">
          <i class="fa-solid fa-user-gear"></i>
          <span>Quản lý tài khoản</span>
        </a>
      </li>
    </ul>

    {# 3. Nếu là Kế toán(id_vaitro =3)#} {% elif user.vaitro.id_vaitro == 3 %}
    <ul id="menu-account">
      <li>
        <a href="/accountant-home">
          <i class="fa-solid fa-house"></i>
          <span>Trang chủ</span>
        </a>
      </li>

      <li>
        <a href="/fee-management">
          <i class="fa-solid fa-file-invoice"></i>
          <span>Quản lý khoản thu</span>
        </a>
      </li>

      <li>
        <a href="/fee-collection-period">
          <i class="fa-solid fa-calendar-days"></i>
          <span>Quản lý đợt thu</span>
        </a>
      </li>

      <li>
        <a href="/statistics-view">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>Tra cứu và Thống kê</span>
        </a>
      </li>
    </ul>
    {% endif %}
  </nav>
  <input
    type="hidden"
    id="user-role-id"
    value="{{ user.vaitro.id_vaitro|default:0 }}"
  />
</aside>
<script src="../js/Sidebar1.js"></script>
