{% load static %}
<div id="overlay" class="overlay" tabindex="-1" hidden></div>

  <aside id="sidebar" class="sidebar" role="navigation" aria-hidden="true">
    <div class="sidebar-header">
      <h2>Menu</h2>
      <button id="btnClose" class="close-btn" aria-label="Đóng menu">✕</button>
    </div>

    <nav class="nav">
        <a href="/">Home</a>
        <a href="/hrmanage">Quản lý hộ khẩu</a>
        <a href="/demomanage">Quản lý nhân khẩu</a>
        <a href="/accountmanage">Quản lý tài khoản</a>
        
      </nav>

    <div class="sidebar-footer">
      <small>© 2025 BLUEMOON</small>
    </div>
  </aside>
  <script src="{% static 'js/sidebar.js' %}"></script>